<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Register</title>
</head>


<body>

<div class="container d-flex justify-content-center align-items-center min-vh-100">

  <form class="w-50 p-4 border rounded bg-light"
	  action="#" 
	  th:action="@{/save}" th:object="${user}" method="post">
	    <h3 class="text-center">Registration</h3><br/>
	    <input type="text" th:field="*{username}" placeholder="User Name" class="form-control form-control-lg"/> <br/>
	     <input type="password" th:field="*{password}" placeholder="Password" class="form-control form-control-lg"/> <br/>
	    <select th:field="*{role}" required class="form-control form-control-lg">
	      <option value="">Select</option>
	      <option value="STUDENT">Student</option>
	      <option value="COMPANY">Company</option>
	      <option value="PROFESSOR">Professor (Supervisor)</option>
	      <option value="CMEMBER">Committee Member</option>
	    </select> <br/>
	    
	    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button> 
	    
	    <div class="container d-flex justify-content-center align-items-center">
        	<a th:href="@{/login}"> Already a user? Login </a><br />
        </div>
	    
	    <div th:if="${param.error}"><p>Registration Error.</p></div> <br/>
	    
	    <div th:utext="${successMessage}"></div>
	</form>
	
</div>
</body>
</html>