<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>In Progress Traineeships</title>
</head>


<body>

<div class="container">
<br/>
<h3>In Progress Traineeships</h3>
<br/>
<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Topics</th>
			<th>Skills</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="traineeship : ${traineeships}">
			
			<td th:text="${traineeship.title}" />
			<td th:text="${traineeship.description}" />	
			<td th:text="${traineeship.fromDate}" />
			<td th:text="${traineeship.toDate}" />
			<td>
				<span th:each="topic : ${traineeship.topics.split(',')}">
				    <p th:text="${topic}"></p>
				</span>
			</td>
			<td>
				<span th:each="skill : ${traineeship.skills.split(',')}">
				    <p th:text="${skill}"></p>
				</span>
			</td>
			<td>
				<a th:if="${traineeship.professor == null}" th:href="@{/in-progress-traineeships/assign(id=${traineeship.id}, strategy=interests)}" class="btn btn-primary btn-sm">Assign by interest</a>
				<a th:if="${traineeship.professor == null}" th:href="@{/in-progress-traineeships/assign(id=${traineeship.id}, strategy=load)}" class="btn btn-primary btn-sm">Assign by load</a>
			</td>
			<td>
				<a th:href="@{/in-progress-traineeships/evaluation(id=${traineeship.id})}" class="btn btn-primary btn-sm">Show evaluation</a>
			</td>
			
			
		</tr>
	</tbody>		
</table>
<hr> 
<a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Homepage</a>
</div>

</body>